<html>

<head>
  <title>QNRM</title>
  <link rel="stylesheet" href="/static/main.css" type="text/css" />
</head>

<body>
  <div id="app">
    <div class="header">
      <h1 class="title">QNRM</h1>
      <ul class="menu">
        <li>
          <a href="javascript:void(0)" v-on:click="selectAll">全选</a>
        </li>
        <li>
          <a href="javascript:void(0)" v-on:click="shiftSelectStatus">反选</a>
        </li>
        <li>
          <a href="javascript:void(0)" v-on:click="markSelectedItem">标记</a>
        </li>
        <li>
          <a href="">移动</a>
        </li>
        <li>
          <a href="">复制</a>
        </li>
      </ul>
      <div class="path">当前位置:/<span v-for="item in path">{{item}}/</span></div>
      <div class="detail">
        {{folderCount}} 个文件夹 共 {{fileCount}} 个文件,已选择{{selectedList.length}}项,已标记{{markedList.length}}项
      </div>
    </div>
    <div tabindex="1" class="list-container" v-on:click.self="clearSelectStatus" v-on:drop="addFile" v-on:dragleave="preventDefault" v-on:dragenter="preventDefault"
      v-on:dragover="preventDefault" v-on:keyup="keyMap($event)">
      <div class="preview" v-bind:class="{ 'selected': item.selected }" v-for="item in list|orderBy  'time' -1" v-on:click="toggleSelectStatus(item, $event)"
        v-on:dblclick="openFolder(item)">
        <div class="icon" style="background-image:url({{item|filePreview}})">
        </div>
        <div class="filename">
          <span>{{item.name}}</span>
        </div>
      </div>

    </div>
    <div class="wait-list-container" v-bind:class="{'show':waitListContainerVisual}" v-on:drop="addFile" v-on:dragleave="preventDefault"
      v-on:dragenter="preventDefault" v-on:dragover="preventDefault">
      <div class="toggle" v-on:click="toggleWaitListContainer">
        <span v-if="waitUploadListCount!=0">
            上传中:{{waitUploadListCount}}<i style="float:right">●</i>
        </span>
        <span v-else>
            没有上传中的文件<i style="float:right">●</i>
        </span>
      </div>
      <div class="item" v-for="item in uploadList">
        <div class="progress">
          <div class="loaded" style="width:{{item.progress}}%;"></div>
        </div>
        <div class="filename">
          {{item.file.name}}-<span class="status">{{item.status}}</span>
        </div>
      </div>
    </div>
  </div>
  <script src="https://npmcdn.com/vue@1.0.26/dist/vue.min.js"></script>
  <script src="https://npmcdn.com/vue-resource@0.9.3/dist/vue-resource.min.js"></script>
  <script src="/static/uploader.js"></script>
  <script src="/static/main.js"></script>
</body>

</html>